.Drawer {
  background: #fff;
  box-sizing: border-box;
  padding: 20px 10px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(0px);
  transition: all .3s linear;
  width: 80%;
  max-width: 300px;
  z-index: 90;
}

.Drawer.close {
  transform: translateX(-300px);
}

.Drawer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Drawer ul li {
  margin-bottom: 15px;
}

.Drawer ul li a {
  background-color: #fff;
  color: #363f54;
  font-size: 30px;
  padding: 0 20px 10px 20px;
  position: relative;
  text-decoration: none;
  transition: all .3s linear;
}

.Drawer ul li a:hover, .active {
  opacity: .7;
}