.FinishedQuiz {
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  margin: 0 10px;
  padding: 20px;
}

.FinishedQuiz ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.FinishedQuiz ul li i {
  margin-left: 10px;
}

.success {
  color: rgba(161, 240, 69, 1);
}

.error {
  color: rgba(240, 87, 108, 1);
}