.Button {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-right: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
}

.Button:disabled {
  background: #ccc;
  box-shadow: none;
  color: #000;
  cursor: not-allowed;
}

.error {
  background: rgba(240, 87, 108, 1);
}

.success {
  background: rgba(161, 240, 69, 1);
}

.primary {
  background: #2884f6;
  color: #fff;
}