.ActiveQuiz {
  border: 2px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  margin: 0 10px;
  padding: 20px;  
}

.Question {
  display: flex;
  justify-content: space-between;
}