.MenuToggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  top: 40px;
  left: 40px;
  transition: all .3s linear;
  z-index: 100;
}

.MenuToggle:hover {
  opacity: .7;
}

.MenuToggle.open {
  left: 320px;
}